/* google fonts */
/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive; */

body{
  margin-left: 0%;
  padding-left: 0%;
  font-family: 'Nunito Sans', sans-serif;
}

/* header */
.navbar-bar
{
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  color: lightcoral !important;
}
.nav-link
{
  font-size: 16px;
  margin: 15px;
  color: black !important;
  font-family: 'Nunito Sans', sans-serif;
}

.nav-link:hover
{
  color: #2980b9 !important;
}

.active .nav-link
{
  color: #e74c3c !important;
}

.menu-right-btn
{
  padding: 13px 46px;
  margin-right: 4%;
  background: transparent;
  transition: all 300ms ease-in;
}

.menu-right-btn:hover
{
  color: white;
  background-color: #2980b9;
}

/* main */
.site-content
{
  background-image: url(images/mybackground1.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.site-title, .site-desc
{
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

.site-title
{
  margin-top: 30%;
  margin-bottom: 6px;
  font-size: 50px;
}
.site-desc
{
  font-size: 18px;
  padding-left: 15%;
}

.site-btn1
{
  margin-left: 20%;
  background-color: black;
  color: white;
}
.site-btn2
{
  background-color: white;
}

.site-btn1, .site-btn2
{
  margin-top: 5%;
  margin-bottom: 40%;
}

.card img
{
  height: 30%;
}

/* section-1 */

.section-1, .heading-1
{
  margin-top: 8%;
}

.btn-secondary
{
  height: 5%;
  background:#2980b9;
  color: white;
  border: none;
}

.btn-secondary:hover{
  background-color: #3498db;
}
